body{
    padding-top: 75px;
    background-color: #1F1F1F;
    background-color: #222222;
    color: white;
    height: 89.9vh;
}
.hp-button{
    width: 150px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 14px;
    border-radius: 8px;
}

button .download{
    height: 15px;
}

div a{
    text-decoration: none;
}

div a:visited{
    text-decoration: none;
    color: white;
}

.about-container{
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left-container{
    display: flex;
    flex-direction: column;
}
.right-container{
    display: flex;
    flex-direction: column;
}

.para-container{
    width: 450px;
}

.page-title{
    font-family: 'Readex Pro', sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}
.para{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 30px;
    opacity: .8;
}
.title{
    font-family: 'Readex Pro', sans-serif;
    font-size: 45px;
}
.sec-title{
    margin-bottom: 23px;

}
.key-value{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.key{
    opacity: .4;
}
.detail-block{
    margin-bottom: 30px;
}
.bt-text{
    font-family: 'Poppins', sans-serif;
}