

<body>
    <mat-toolbar>
        <div>
        <button mat-icon-button >
            <mat-icon>person</mat-icon>
        </button>
        <span>{{sideMenuName}}</span>
        </div>
        <div class="nav-links">
            <div class="link"><a routerLink="/home-page"  routerLinkActive="active">Home</a></div>
            <div class="link"><a routerLink="/about-page" routerLinkActive="active">About</a></div>
            <div class="link"><a routerLink="/skills-page" routerLinkActive="active">Skills</a></div>
            <div class="link"><a routerLink="/contact-page" routerLinkActive="active">Contact</a></div>
        </div>

    </mat-toolbar>
</body>