body{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
}

mat-toolbar div div{
    color: white;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -5px;
}

mat-icon{
    font-size: 30px;
    
}
mat-toolbar{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    justify-items: center;
}

.side-name{
    margin-left: 30px;
    margin-right: 20px;
}

.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
}

#check{
    display: none;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}
.link a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 1rem;
    font-size: 20px;
    opacity: .5;
    transition: all .218s;
}

.link a.active{
    opacity: 1;
    color: #DE3132;
}

@media (max-width: 952px){
    .side-name{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
}